#companyName {
    font-size: xx-large;
    display: inline;
}

#foot {
    background-color: black;
    clear: both;
}

#rights p{
    background-color: white;
    color: black;
    margin: 0px;
}

#foot ul {
    list-style-type: none;
    color: white;
}

#foot ul li a {
    color: white;
}

#foot ul li a:hover {
    text-decoration: none;
    color: #80bfff;
}

#foot p{
    color: white;
}

#foot div div p {
    color: white;
}
.dropdown-item:hover {
    /*background-color: black;*/
}
nav a:hover {
    text-decoration: none;
    color: #80bfff;
}

.block {
    display: block;
}

.inlineBlock {
    display: inline-block;
}

.container {
    background-color: black;
}

.navbar, .dropdown-menu {
    background-color: white;
}

.nav-link {
    color: black;
}

.dropdown-item {
    color: black;
}

.fa-home, .fa-list-ul, .fa-users, .fa-phone, .fa-sign-in-alt, .fa-user-plus, .fa-map-marker-alt,.fa-plug, .fa-bolt, .fa-chair {
    margin-top: 10px;
    color: black;
}

#foot div ul li i{
    color: white;
}

.navbar{
    padding: 0%;
}
