#main{
    font-size: medium;
    text-align: center;
}
#tablemain{
    margin-top:0;
}
#tablemain th{
    font-size: xx-large;
    font-weight: lighter;
    text-align: center;
    opacity: 0.8;
    color: black;
}
#tablemain a{
    text-underline: none;
    text-decoration: none;
}
#tablemain .cat_text:hover{
    color: #80bfff;
    text-underline: none;
}
#tablemain .cat{
    padding:40px;
    margin:50px;
    text-align: center;
}
#tablemain .cat_text{
    margin-bottom: 10px;
    position:relative;
    float:top;
    text-decoration: #4e555b;
    background: black;
    border-radius: 20px;
    color: #ffffff;
    opacity: 0.8;
}
.Cat_img{
    width: 150px;
    height:150px;
    float:bottom;
}
#foot{
    margin-top:100px;
    float:bottom;
}