#main{
    font-size: medium;
    text-align: center;
}
#foot{
    clear: both;
}
#tablemain{
    margin-top:0;
    text-align: center;
    background: none;
}

@media screen and (min-width: 768px) {
    #tablemain #tablemain_text{
        font-size: xx-large;
        font-weight: lighter;
        text-align: center;
        opacity: 0.8;
        color: black;
        text-shadow: black;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    #tablemain #tablemain_text{
        font-size: x-large;
        font-weight: lighter;
        text-align: center;
        opacity: 0.8;
        color: black;
        text-shadow: black;
        margin-bottom: 30px;
    }
}
#tablemain a{
    text-underline: none;
    text-decoration: none;
}
#tablemain .cat_text:hover{
    color: #80bfff;
    text-underline: none;
}

#tablemain .col{
    margin:auto;
    padding:auto;
}

.img-fluid{
    min-width: 80px;
    min-height: 80px;
    width: 120px;
    height:100px;
    margin: 10px;
    padding: 5px;
    box-shadow: #4e555b;
    border-radius: 10px;
}
.img-fluid:hover{
    border: black 3px groove;
}

#tablemain .cat_text{
    margin-bottom: auto;
    position:relative;
    float:top;
    text-decoration: #4e555b;
    background: black;
    border-radius: 20px;
    color: #ffffff;
    opacity: 0.8;
}
#foot{
    margin-top: 50px;
}
