#main{
    font-size: medium;
    text-align: center;
}
#tablemain{
    margin-top:0;
    text-align: center;
}
#tablemain #tablemain_text{
    font-size: xx-large;
    font-weight: lighter;
    text-align: center;
    opacity: 0.8;
    color: black;
}
#tablemain a{
    text-underline: none;
    text-decoration: none;
}
#tablemain .cat_text:hover{
    color: #80bfff;
    text-underline: none;
}
#tablemain .cat{
    padding:10px;
    margin:10px;
    align-content: center;
    text-align: center;
    float: left;
}
#tablemain .cat_text{
    margin-bottom: auto;
    position:relative;
    float:top;
    text-decoration: #4e555b;
    background: black;
    border-radius: 20px;
    color: #ffffff;
    opacity: 0.8;
}
@media screen and (min-width: 360px) and (max-width: 359px) {
    .Cat_img {
        width: 100px;
        height: 100px;
        resize: both;
        float: bottom;
    }
}@media screen and (min-width: 100px) and (max-width: 359px) {
    .Cat_img {
        width: 25px;
        height: 25px;
        float: bottom;
    }
}