body{
	background-image: url('back.jpg');
	background-size: 100%;
	width: 100% 110%;
	height: 100%;
	font-family: Arial;
}
.box{

	max-width: 350px;
	border-radius: 20px;
	margin: auto;
	background: rgba(0,0,0,0.8);
	box-sizing: 40px;
	padding: 20px;
	color: #ffff;
	margin-top: 70px;
	display: block;
}
.box h2{
	text-align: center;
}
input[type=text],input[type=Email],input[type=passoword]{
	
	width: 200px;
	height: 30px;
	box-sizing: content-box;
	background: rgba(0,0,0,0.10);
	outline: none;
	border: none;
	border-bottom: 1px dotted #fff;
	color: #fff;
	border-radius: 50px;
	margin: 6px;
	font-weight: bold;
}
input[type=submit]{
	width: 60%;
	height: 35px;
	box-sizing: border-box;
	padding: 10px,0px;
	margin-top: 30px;
	outline: none;
	border:none;
	background: #60adde;
	opacity: 0.7;
	border-radius: 20px;
	font-size: 20px;
	color: #fff;

}
